@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
  overflow-x: hidden;
}

section {
  padding-block: $section-block-spacing;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  font-weight: $font-weight-bold;
  color: $text-color-default;
}