@use "../abstracts/" as *;

.contact-main {
  padding-block-start: rem(64px);
  padding-block-end: rem(56px);
}

.contact__flex {
  display: flex;
  flex-direction: column;
  gap: rem(84px);

  margin-block-start: rem(48px);

  @include media-queries(lg) {
    flex-direction: row;
  }
}

.contact__intro {
  width: min(100%, rem(700px));

  & > p {
    margin-block-start: rem(12px);
  }
}

.contact__form {
  width: min(100%, rem(500px));
  margin-inline: auto;

  & > * {
    width: 100%;
  }

  & > * + * {
    margin-block-start: rem(18px);
  }

  &__flex {
    display: flex;
    gap: rem(12px);
  }

  &__text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & textarea {
      width: 100%;
      height: rem(300px);
      border: $border-sm;
      border-radius: 0;
      resize: none;

      &:is(:focus, :focus-visible, :focus-within) {
        border-radius: 0;
      }
    }
  }

  &--btn {
    padding-block: rem(12px);
  }

  &--errors {
    font-size: $font-size-300;
    font-weight: $font-weight-bold;
    color: red;
  }
}

.contact__form--success {
  width: min(100%, rem(580px));
  height: rem(448px);

  display: grid;
  place-items: center;
}

.contact__map {
margin-inline: auto;

  width: min(100%, rem(500px));
  height: rem(300px);

  border: $border-md;
  box-shadow: $box-shadow-medium;

  @include media-queries(lg) {
    width: min(100%, rem(700px));
    height: auto;
  }

  & .leaflet-container {
    height: 100%;
  }
}

.contact__accordion {
  width: min(100%, rem(650px));
  margin: 0;

  & h2 {
    margin-block-end: rem(24px);
  }

  & .accordion {
    border-left: $border-md;
    border-right: $border-md;

    &:nth-last-child(1) {
      border-bottom: $border-md;
    }
  }

  & .accordion__header {
    background-color: white;
    padding: rem(12px);

    border-top: $border-md;

    &.active {
      border-bottom: $border-md;
    }

    & button {
      border: none;
      box-shadow: none;
      background: none;
      padding: 0;
    }
  }

  & .accordion__body {
    padding: rem(12px);
  }
}
