@use "../abstracts/" as *;

.destination-header,
.destination__flex {
  display: flex;
  flex-direction: column;
  gap: rem(32px);

  @include media-queries(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.destination-header {
  & .destination-header__textbox {
    width: min(100%, rem(600px));
  }

  p {
    margin-block-start: min(rem(24px), 2.222vh);
  }

  button {
    width: min(100%, rem(270px));
    box-shadow: $box-shadow-medium;

    padding: rem(12px) 0 rem(10px);

    margin-block-start: min(rem(40px), 2.222vh);
  }

  & .destination-header__img {
    width: min(100%, rem(500px));
    height: rem(400px);

    border: $border-sm;
    box-shadow: $box-shadow-medium;
  }
}

.destination-main {
  --card-width: #{rem(250px)};

  padding-block-start: rem(64px);
  padding-block-end: rem(56px);

  & section {
    padding-block: rem(64px);

    @include media-queries(md) {
      padding-block: rem(96px);
    }
  }
}

.destination__flex {
  gap: rem(24px);
}

.destination__text {
  width: min(100%, rem(540px));

  & p {
    margin-block-start: rem(12px);
  }
}

.destination__img {
  width: min(100%, rem(500px));
  height: rem(450px);

  border: $border-md;
  box-shadow: $box-shadow-medium;
}

@include media-queries(md) {
  .destination__culture .destination__flex,
  .destination__gastronomy .destination__flex,
  .destination__nocturne .destination__flex {
    flex-direction: row-reverse;
  }
}

.destination__nature {
  background-color: purple;
}

// .destination__culture {
//   background-color: salmon;
// }

// .destination__evenement {
//   background-color: salmon;
// }

// .destination__gastronomy {
//   background-color: salmon;
// }

// .destination__adventure {
//   background-color: greenyellow;
// }

// .destination__nocturne {
//   background-color: salmon;
// }

.destination__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(24px);

  margin-block-start: rem(56px);

  & > * {
    flex: 1 1 var(--card-width);
  }

  & .card {
    width: min(100%, var(--card-width));

    border: $border-sm;
    box-shadow: $box-shadow-medium;
    background-color: var(--light-clr);

    padding: rem(20px);

    &__img {
      width: 100%;
      height: rem(250px);
      border: $border-sm;

      margin-block-end: rem(20px);

      & img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        aspect-ratio: 16 / 9;
      }
    }

    &__description {
      margin-block-start: rem(4px);
    }

    &__flex {
      display: flex;
      justify-content: flex-end;
    }

    &--btn {
      border: $border-sm;
      box-shadow: none;

      padding: rem(10px) rem(32px) rem(6px);
      margin-block-start: rem(16px);
    }
  }
}

.destination--btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-block-start: rem(24px);

  & button {
    width: 100%;

    padding: rem(12px) 0 rem(10px);

    @include media-queries(sm) {
      width: rem(245px);
    }
  }
}
