@use "../abstracts/" as *;

.home-header {
  min-height: calc(100vh - rem(90px));

  // @include media-queries(xlg) {
  //   min-height: auto;
  // }
}

.home-header .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32px);

  & .hero-section__textbox {
    width: min(100%, rem(500px));
  }

  & .hero-section__img {
    width: min(100%, rem(600px));
    height: rem(450px);

    border: $border-lg;
    box-shadow: $box-shadow-large;
  }

  & .hero-section--btn {
    width: min(100%, rem(380px));
    padding: rem(14px) 0 rem(12px);
    margin-block-start: rem(32px);
  }

  @include media-queries(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-block: rem(120px);
  }
}

.home-main {
  & section .container > div:nth-child(2),
  & section > div:nth-child(2) {
    margin-block-start: min(rem(48px), 3vh);

    @include media-queries(lg) {
      margin-block-start: min(rem(64px), 4vh);
    }
  }

  & section > div:nth-child(1) p {
    margin-block-start: rem(8px);

    @include media-queries(lg) {
      margin-block-start: rem(12px);
    }
  }

  @include media-queries(md) {
    & section {
      padding-block: rem(96px);
    }
  }
}

// Explore Section
.explore-section {
  background-color: var(--light-clr);
}

.explore__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(32px);

  @include media-queries(md) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.explore__textbox {
  width: min(100%, rem(550px));
}

.explore--btn-container {
  display: flex;
  align-items: center;
  gap: rem(16px);

  & .explore--btn {
    padding: rem(10px) rem(32px);
  }
}
.explore-card-wrapper {
  width: 100%;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: grab;

  padding-block: rem(12px);

  & .explore-card-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: rem(24px);
    transition: transform 0.5s ease;
  }
}

.explore-card {
  width: min(100%, rem(330px));

  background-color: var(--body-bg-clr);
  border: $border-md;
  box-shadow: $box-shadow-medium;

  padding: rem(20px);

  &__img {
    width: 100%;
    height: rem(300px);

    border: $border-md;

    & img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }

  &__title {
    width: rem(300px);
    margin-block-start: rem(20px);
  }

  &__description {
    width: fit-content;
    margin-block-start: rem(4px);
  }

  &-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &--btn {
    box-shadow: none;

    padding: rem(8px) rem(32px) rem(6px);
    margin-block-start: rem(28px);
  }
}

// Discover Section
.discover__textbox {
  width: min(100%, rem(980px));
}

.discover__video {
  display: flex;
  justify-content: center;
  align-items: center;

  border: $border-lg;
  box-shadow: $box-shadow-large;

  width: min(100%, rem(700px));
  height: rem(400px);

  margin-inline: auto;
}

// Commune Section
.commune-section {
  background-color: var(--light-clr);
}

.commune__flex {
  display: flex;
  flex-direction: column;
  gap: rem(32px);

  @include media-queries(lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.commune__card-container {
  width: min(100%, rem(400px));
}

.commune__card-btn-container {
  display: flex;
  align-items: center;
  gap: rem(16px);

  margin-block-start: rem(24px);

  & .commune--btn {
    padding: rem(8px) rem(32px);
  }
}

.commune__map {
  width: min(100%, rem(700px));
  height: rem(300px);

  border: $border-md;
  box-shadow: $box-shadow-medium;

  & .leaflet-container {
    height: 100%;
  }

  @include media-queries(md) {
    height: rem(450px);
  }
}

// Evenement Section
.evenement__textbox {
  width: min(100%, rem(800px));
}

.evenement__card-container {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
}

.evenement-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(32px);

  &__img {
    width: min(100%, rem(500px));
    height: rem(250px);

    border: $border-md;
    box-shadow: $box-shadow-medium;

    @include media-queries(md) {
      height: rem(300px);
    }
  }

  & .evenement-card__textbox {
    width: min(100%, rem(520px));

    & > * + * {
      margin-block-start: rem(8px);
    }
  }

  &--btn {
    width: min(100%, rem(240px));
    padding-block: rem(10px);
  }

  @include media-queries(md) {
    flex-direction: row;
    align-items: center;
  }
}

.evenement--btn {
  width: min(100%, rem(200px));
  padding: rem(12px) 0 rem(10px);
  margin-block-start: rem(40px);
  margin-inline: auto;
}
