@use "../abstracts/" as *;

// ====================
//        Header
// ====================

.home-header {
  min-height: calc(100vh - rem(90px));

  // @include media-queries(xlg) {
  //   min-height: auto;
  // }
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32px);

  text-align: center;

  & .hero-section__textbox {
    width: min(100%, rem(500px));
  }

  & .hero-section__img {
    width: min(100%, rem(600px));
    height: rem(450px);

    border: $border-lg;
    box-shadow: $box-shadow-large;
  }

  @include media-queries(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-align: left;

    padding-block: rem(120px);
  }
}

.home-main section {
  & .container > div:nth-child(2),
  & > div:nth-child(2) {
    margin-block-start: min(rem(48px), 3vh);

    @include media-queries(lg) {
      margin-block-start: min(rem(64px), 4vh);
    }
  }

  & > div:nth-child(1) p {
    margin-block-start: rem(8px);

    @include media-queries(lg) {
      margin-block-start: rem(12px);
    }
  }

  @include media-queries(md) {
    & {
      padding-block: rem(96px);
    }
  }
}

// =================================
//          Explore Section
// =================================

.explore-section {
  background-color: var(--light-clr);
}

.explore__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(32px);

  @include media-queries(md) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.explore__textbox {
  width: min(100%, rem(550px));
}

.explore--btn-container {
  display: flex;
  align-items: center;
  gap: rem(16px);
}

.explore-card-wrapper {
  width: 100%;
  transition: transform 0.5s ease;
  overflow: hidden;

  padding-block: rem(12px);

  & .explore-card-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: rem(24px);
    transition: transform 0.5s ease;
  }
}

// =================================
//          Discover Section
// =================================

.discover__textbox {
  width: min(100%, rem(980px));
}

.discover__video {
  display: flex;
  justify-content: center;
  align-items: center;

  border: $border-lg;
  box-shadow: $box-shadow-large;

  width: min(100%, rem(700px));
  height: rem(400px);

  margin-inline: auto;
}

// =================================
//          Commune Section
// =================================

.commune-section {
  background-color: var(--light-clr);
}

.commune__flex {
  display: flex;
  flex-direction: column;
  gap: rem(32px);

  @include media-queries(lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.commune__card-container {
  width: min(100%, rem(400px));
}

.commune__card-btn-container {
  display: flex;
  align-items: center;
  gap: rem(16px);

  margin-block-start: rem(24px);
}

.commune__map {
  width: 100%;
  height: rem(300px);

  border: $border-md;
  box-shadow: $box-shadow-medium;

  @include media-queries(lg) {
    width: min(100%, rem(700px));
  }

  & .leaflet-container {
    height: 100%;
  }

  @include media-queries(md) {
    height: rem(450px);
  }
}

// ==================================
//        Evenement Section
// ==================================

.evenement__textbox {
  width: min(100%, rem(800px));
}

.evenement__card-container {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
}
