@use "../abstracts/" as *;

.container {
  --padding: #{$container-min-padding-inline} * 2;
  --max-width: #{$container-max-width-xlg};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container-lg {
  --padding: #{$container-min-padding-inline} * 2;
  --max-width: #{$container-max-width-lg};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container-md {
  --max-width: #{$container-max-width-md};
}

.container-sm {
  --max-width: #{$container-max-width-sm};
}

.container-full {
  --max-width: 100%;
}
