@use "../abstracts" as *;

.navigation {
  padding-block: rem(20px);

  @include media-queries(md) {
    padding-block: rem(32px);
  }
}

.navigation__logo {
  display: grid;
  place-items: center;
}

.navigation-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  @include media-queries(md) {
    display: none;
    visibility: hidden;
  }
}

.navigation-mobile--hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(6px);

  width: rem(42px);

  border: none;
  box-shadow: none;
  background: none;
}

.navigation-mobile-container {
  position: absolute;
  top: 0;
  right: 0;
  width: min(80%, rem(400px));
  height: 100vh;
  z-index: 100;

  background-color: var(--light-clr);

  padding: rem(30px) rem(32px) rem(48px);

  @include media-queries(md) {
    display: none;
    visibility: hidden;
  }
}

.navigation-mobile__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  margin-block-end: rem(56px);
}

.navigation-mobile__body {
  padding-block-start: rem(32px);

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: rem(40px);

    margin-block-end: rem(48px);

    & li a {
      font-size: $font-size-500;
      font-weight: $font-weight-bold;
    }
  }
}

.navigation-desktop {
  display: none;
  visibility: hidden;

  @include media-queries(md) {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;

      visibility: visible;
    }

    & ul {
      display: flex;
      align-items: center;
      gap: rem(40px);
    }
  }
}
