@use "../abstracts/" as *;

.footer {
  background-color: var(--footer-bg-clr);
  color: var(--light-clr);
}

.footer__top {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: rem(32px);

  .footer__newsletter__form,
  input,
  button {
    width: 100%;
  }
}

.footer__link-elements__title,
h4 {
  color: var(--footer-title-clr);
}

.footer__link-elements ul li {
  margin-block-start: rem(8px);
}

.footer__link-elements > * + * {
  margin-block-start: rem(20px);
}

.footer__newsletter {
  & > * + * {
    margin-block-start: rem(12px);
  }
}

.footer__newsletter__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(16px);

  width: rem(32px);
  height: rem(32px);
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: rem(14px);

  margin-block-start: rem(48px);

  & a {
    font-size: $font-size-500;
    color: var(--footer-title-clr);
    text-decoration: underline;
  }
}

@include media-queries(sm) {
  .footer__newsletter {
    width: rem(500px);
  }

  .footer__newsletter__social {
    justify-content: flex-start;
  }
}

@include media-queries(md) {
  .footer__top {
    display: flex;
    align-items: flex-start;
  }

  .footer__logo {
    width: min(100%, rem(260px));
  }

  .footer__link-elements {
    width: min(100%, rem(300px));
  }
}

@include media-queries(lg) {
  .footer .container {
    padding-block: rem(64px);
  }

  .footer__top {
    flex-direction: row;

    flex-wrap: nowrap;
  }

  .footer__newsletter {
    width: min(rem(400px));
  }

  .footer__newsletter__socials {
    justify-content: flex-end;
  }
}
