@use "../abstracts/" as *;

.footer {
  background-color: var(--footer-bg-clr);
  color: var(--light-clr);

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(20px);
  }

  .footer__newsletter__form,
  input,
  button {
    width: 100%;
  }

  .footer__link-elements__title,
  & h3 {
    color: var(--footer-title-clr);
  }

  @include media-queries(sm) {
    &__flex {
      gap: min(rem(24px), 1.667vh);

      & > * {
        flex: 1 1 rem(180px);
      }
    }
  }
}

.footer__link-elements {
  & ul li {
    margin-block-start: rem(8px);
  }

  & > * + * {
    margin-block-start: rem(16px);
  }
}

.footer__newsletter {
  & > * + * {
    margin-block-start: rem(12px);
  }

  & .footer__newsletter__socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
  }

  @include media-queries(lg) {
    & {
      max-width: rem(400px);
    }
  }
}

.footer__newsletter__form {
  display: flex;
  flex-wrap: wrap;
  gap: rem(12px);

  margin-block: rem(20px);

  & .footer__newsletter__form__input {
    border: none;
  }

  & .footer__newsletter__form--btn {
    font-size: $font-size-400;
    font-weight: $font-weight-bold;
    color: $text-color-default;

    background-color: var(--footer-title-clr);

    border: none;
    box-shadow: none;

    padding-block: rem(12px);
  }
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: rem(14px);

  margin-block-start: rem(48px);

  & a {
    font-size: $font-size-500;
    color: var(--footer-title-clr);
    text-decoration: underline;
  }
}
